.idiot {
  &__phrase {
    font-family: @abril;
    font-size: 20vmin;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 1rem;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  hr {
    display: block;

    width: 50vw;
    margin: 50px auto;
    background: none;
    border: none;
    border-top: solid 1px @foreground;
  }

  &__description {
    quotes: "“" "”" "‘" "’";

    font-family: @playfair;
    font-style: italic;

    @media screen and (min-width: 600px) {
      max-width: 50vw;
      margin-left: auto;
      margin-right: auto;
    }

    &:before { content: open-quote; }
    &:after { content: close-quote; }
  }

  &__upvote {
    display: block;
    margin-top: @gutter*2;

    font-size: 44px;
    color: @accent;

    cursor: pointer;
  }
}