@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@opensans: 'Open Sans', sans-serif;
@times: 'Times New Roman', 'Georgia', serif;
@abril: 'Abril Fatface', @times;

html {
  font: normal 24px/1.5 @opensans;
  text-rendering: optimizeLegibility;
}

p {
  margin-bottom: 1em;
}

a {
  font-family: @abril;
  color: @accent;
}